.elementor-2551 .elementor-element.elementor-element-41cd4c2:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-41cd4c2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/08/pixelFondo.png");}.elementor-2551 .elementor-element.elementor-element-41cd4c2{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:7;}.elementor-2551 .elementor-element.elementor-element-41cd4c2 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2551 .elementor-element.elementor-element-0afec3a:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-0afec3a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/10/smudges.jpg");}.elementor-2551 .elementor-element.elementor-element-0afec3a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:999;}.elementor-2551 .elementor-element.elementor-element-0afec3a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2551 .elementor-element.elementor-element-9c3065b:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-9c3065b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-2551 .elementor-element.elementor-element-9c3065b{border-style:solid;border-color:#000000;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2551 .elementor-element.elementor-element-9c3065b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-primary );}.elementor-2551 .elementor-element.elementor-element-f221e93 .elementor-icon-wrapper{text-align:center;}.elementor-2551 .elementor-element.elementor-element-f221e93.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-2551 .elementor-element.elementor-element-f221e93.elementor-view-framed .elementor-icon, .elementor-2551 .elementor-element.elementor-element-f221e93.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-2551 .elementor-element.elementor-element-f221e93.elementor-view-framed .elementor-icon, .elementor-2551 .elementor-element.elementor-element-f221e93.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-2551 .elementor-element.elementor-element-f982eec{width:auto;max-width:auto;align-self:center;text-align:center;}.elementor-2551 .elementor-element.elementor-element-f982eec > .elementor-widget-container{margin:-5px 0px 0px 15px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-f982eec .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:20px;font-weight:600;line-height:1em;letter-spacing:-0.5px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-6b98423:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-6b98423 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-2551 .elementor-element.elementor-element-6b98423 > .elementor-container{min-height:25vh;}.elementor-2551 .elementor-element.elementor-element-6b98423 > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2551 .elementor-element.elementor-element-6b98423{border-style:solid;border-color:#000000;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-6b98423, .elementor-2551 .elementor-element.elementor-element-6b98423 > .elementor-background-overlay{border-radius:2px 2px 2px 2px;}.elementor-2551 .elementor-element.elementor-element-7aaff93 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-27151af > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-4c14f20 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-6c066a5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-3efb362 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-3efb362:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-3efb362 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00000059;}.elementor-2551 .elementor-element.elementor-element-3efb362 > .elementor-container{min-height:400px;}.elementor-2551 .elementor-element.elementor-element-3efb362{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:8% 0% 0% 0%;z-index:6;}.elementor-2551 .elementor-element.elementor-element-3efb362, .elementor-2551 .elementor-element.elementor-element-3efb362 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-3efb362 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-a20c402.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-2551 .elementor-element.elementor-element-a20c402.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-2551 .elementor-element.elementor-element-a7aa020 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-a7aa020 > .elementor-container{max-width:545px;min-height:0vh;}.elementor-2551 .elementor-element.elementor-element-a7aa020{border-style:none;margin-top:-3%;margin-bottom:0%;padding:0vw 0vw 0vw 0vw;z-index:9999999999;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-c47f00c.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2551 .elementor-element.elementor-element-c47f00c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-c47f00c.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2551 .elementor-element.elementor-element-c47f00c > .elementor-element-populated{border-style:none;margin:1% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;padding:0% 0% 5% 0%;}.elementor-2551 .elementor-element.elementor-element-c47f00c{z-index:99999999999999;}.elementor-2551 .elementor-element.elementor-element-03b414c img{width:25%;}.elementor-2551 .elementor-element.elementor-element-d22fc22 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-d22fc22{text-align:center;}.elementor-2551 .elementor-element.elementor-element-d22fc22 .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:30px;font-weight:600;letter-spacing:-1px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-bb5c90d > .elementor-widget-container{margin:-13px 0px 10px 0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-bb5c90d{text-align:center;}.elementor-2551 .elementor-element.elementor-element-bb5c90d .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.3px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-f648b53 > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-2551 .elementor-element.elementor-element-f5cbff7{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;text-align:center;}.elementor-2551 .elementor-element.elementor-element-f5cbff7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:1% 0% 1% 0%;}.elementor-2551 .elementor-element.elementor-element-f5cbff7 .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.3px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-f3b8b7e{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;text-align:center;}.elementor-2551 .elementor-element.elementor-element-f3b8b7e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:1% 0% 1% 0%;}.elementor-2551 .elementor-element.elementor-element-f3b8b7e .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.3px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-1d17b83{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;text-align:center;}.elementor-2551 .elementor-element.elementor-element-1d17b83 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:1% 0% 1% 0%;}.elementor-2551 .elementor-element.elementor-element-1d17b83 .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.3px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-1e8721e{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;text-align:center;}.elementor-2551 .elementor-element.elementor-element-1e8721e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:1% 0% 1% 0%;}.elementor-2551 .elementor-element.elementor-element-1e8721e .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.3px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-5d9350b{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;text-align:center;}.elementor-2551 .elementor-element.elementor-element-5d9350b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:1% 0% 1% 0%;}.elementor-2551 .elementor-element.elementor-element-5d9350b .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:18px;font-weight:600;letter-spacing:-0.3px;color:#000000;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-2551 .elementor-element.elementor-element-ea991b5 .elementor-button{background-color:#FFFFFF;font-family:"Lato", Sans-serif;font-size:18px;font-weight:500;letter-spacing:-0.7px;fill:#000000;color:#000000;box-shadow:5px 5px 0px 0px #000000;border-style:solid;border-width:3px 3px 3px 3px;border-radius:10px 10px 10px 10px;}.elementor-2551 .elementor-element.elementor-element-ea991b5{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-2551 .elementor-element.elementor-element-ea991b5 > .elementor-widget-container{margin:3% 0% 3% 0%;}.elementor-2551 .elementor-element.elementor-element-ea991b5 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-2551 .elementor-element.elementor-element-ea991b5 .elementor-button .elementor-button-content-wrapper{gap:9px;}.elementor-2551 .elementor-element.elementor-element-a7b6242 > .elementor-widget-container{margin:2% 0% 0% 0%;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-a7b6242{text-align:center;}.elementor-2551 .elementor-element.elementor-element-a7b6242 .elementor-heading-title{font-family:"Lato", Sans-serif;font-size:12px;font-weight:600;line-height:16px;letter-spacing:-0.4px;color:#000000;}.elementor-2551 .elementor-element.elementor-element-74294d4 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-74294d4:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-74294d4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00000059;}.elementor-2551 .elementor-element.elementor-element-74294d4 > .elementor-container{min-height:400px;}.elementor-2551 .elementor-element.elementor-element-74294d4{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:8% 0% 0% 0%;z-index:6;}.elementor-2551 .elementor-element.elementor-element-74294d4, .elementor-2551 .elementor-element.elementor-element-74294d4 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-74294d4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-2233a17.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-2551 .elementor-element.elementor-element-2233a17.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-2551 .elementor-element.elementor-element-eba4796 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-eba4796:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-eba4796 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#02010100;}.elementor-2551 .elementor-element.elementor-element-eba4796 > .elementor-container{max-width:545px;min-height:0vh;}.elementor-2551 .elementor-element.elementor-element-eba4796{border-style:none;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-3%;margin-bottom:0%;padding:0vw 0vw 0vw 0vw;z-index:9999999999;}.elementor-2551 .elementor-element.elementor-element-eba4796 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2551 .elementor-element.elementor-element-1c3ed59:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2551 .elementor-element.elementor-element-1c3ed59 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#02010100;}.elementor-2551 .elementor-element.elementor-element-1c3ed59 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2551 .elementor-element.elementor-element-1c3ed59 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2551 .elementor-element.elementor-element-9f231c0 .elementor-button{background-color:#FFFFFF;font-family:"Lato", Sans-serif;font-weight:600;fill:#000000;color:#000000;box-shadow:4px 4px 0px 0px #000000;border-style:solid;border-color:#000000;}.elementor-widget-toggle .elementor-toggle-title, .elementor-widget-toggle .elementor-toggle-icon{color:var( --e-global-color-primary );}.elementor-widget-toggle .elementor-toggle-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-toggle .elementor-tab-title.elementor-active a, .elementor-widget-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon{color:var( --e-global-color-accent );}.elementor-widget-toggle .elementor-toggle-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-toggle .elementor-tab-content{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-tab-title{border-width:2px;border-color:#000000;background-color:#FFFFFF;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-tab-content{border-width:2px;border-block-end-color:#000000;color:#000000;font-family:"Lato", Sans-serif;font-weight:400;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-toggle-title, .elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-toggle-icon{color:#000000;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-toggle-icon svg{fill:#000000;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-tab-title.elementor-active a, .elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-tab-title.elementor-active .elementor-toggle-icon{color:#000000;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-toggle-title{font-family:"Lora", Sans-serif;font-weight:600;}.elementor-2551 .elementor-element.elementor-element-4440982:not(.elementor-motion-effects-element-type-background), .elementor-2551 .elementor-element.elementor-element-4440982 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-2551 .elementor-element.elementor-element-4440982{border-style:solid;border-color:#000000;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2551 .elementor-element.elementor-element-4440982 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2551 .elementor-element.elementor-element-bd68007 > .elementor-element-populated{border-style:solid;}.elementor-2551 .elementor-element.elementor-element-44564b8 > .elementor-element-populated{border-style:solid;}.elementor-2551 .elementor-element.elementor-element-c6a4474 > .elementor-element-populated{border-style:solid;}.elementor-2551 .elementor-element.elementor-element-20ee63a > .elementor-element-populated{border-style:solid;}body.elementor-page-2551:not(.elementor-motion-effects-element-type-background), body.elementor-page-2551 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}@media(max-width:767px){.elementor-2551 .elementor-element.elementor-element-9c3065b{border-width:5px 5px 5px 5px;}.elementor-2551 .elementor-element.elementor-element-9c3065b, .elementor-2551 .elementor-element.elementor-element-9c3065b > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-b7c8781{width:30%;}.elementor-2551 .elementor-element.elementor-element-6cca982{width:22%;}.elementor-2551 .elementor-element.elementor-element-9138a94{width:15%;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-9138a94.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2551 .elementor-element.elementor-element-9138a94.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-9138a94.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2551 .elementor-element.elementor-element-9138a94 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-f221e93 > .elementor-widget-container{margin:0px 10px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-f221e93 .elementor-icon-wrapper{text-align:right;}.elementor-2551 .elementor-element.elementor-element-f221e93 .elementor-icon{font-size:18px;}.elementor-2551 .elementor-element.elementor-element-f221e93 .elementor-icon svg{height:18px;}.elementor-2551 .elementor-element.elementor-element-95c317e{width:10%;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-95c317e.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2551 .elementor-element.elementor-element-95c317e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-95c317e.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2551 .elementor-element.elementor-element-95c317e > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-111ef6e{width:var( --container-widget-width, 86.5px );max-width:86.5px;--container-widget-width:86.5px;--container-widget-flex-grow:0;text-align:right;}.elementor-2551 .elementor-element.elementor-element-111ef6e > .elementor-widget-container{margin:-6px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-111ef6e img{width:100%;}.elementor-2551 .elementor-element.elementor-element-9d06867{width:23%;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-9d06867.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2551 .elementor-element.elementor-element-9d06867.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-9d06867.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2551 .elementor-element.elementor-element-9d06867 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-f982eec > .elementor-widget-container{margin:-3px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-f982eec .elementor-heading-title{font-size:14px;}.elementor-2551 .elementor-element.elementor-element-6b98423 > .elementor-background-overlay{background-image:url("../../2024/06/pattern-grid.png");background-size:861px auto;opacity:0.05;}.elementor-2551 .elementor-element.elementor-element-6b98423 > .elementor-container{min-height:90vh;}.elementor-2551 .elementor-element.elementor-element-6b98423{border-width:0px 5px 5px 5px;margin-top:13%;margin-bottom:0%;padding:15px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-6b98423, .elementor-2551 .elementor-element.elementor-element-6b98423 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-7aaff93{width:25%;}.elementor-2551 .elementor-element.elementor-element-7aaff93 > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-2551 .elementor-element.elementor-element-27151af{width:25%;}.elementor-2551 .elementor-element.elementor-element-27151af > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-2551 .elementor-element.elementor-element-4c14f20{width:25%;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-4c14f20.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-2551 .elementor-element.elementor-element-4c14f20.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-2551 .elementor-element.elementor-element-4c14f20 > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-2551 .elementor-element.elementor-element-6c066a5{width:25%;}.elementor-2551 .elementor-element.elementor-element-6c066a5 > .elementor-element-populated{padding:5px 5px 5px 5px;}.elementor-2551 .elementor-element.elementor-element-3efb362 > .elementor-container{min-height:100vh;}.elementor-2551 .elementor-element.elementor-element-3efb362{padding:0% 0% 0% 0%;z-index:6;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-a20c402.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2551 .elementor-element.elementor-element-a20c402.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-0585393{z-index:6;}.elementor-2551 .elementor-element.elementor-element-a7aa020 > .elementor-container{min-height:85vh;}.elementor-2551 .elementor-element.elementor-element-a7aa020{margin-top:0%;margin-bottom:0%;padding:0vw 0vw 0vw 0vw;}.elementor-2551 .elementor-element.elementor-element-03b414c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-03b414c img{width:28%;}.elementor-2551 .elementor-element.elementor-element-bb5c90d > .elementor-widget-container{margin:-13px 0px 20px 0px;}.elementor-2551 .elementor-element.elementor-element-bb5c90d .elementor-heading-title{font-size:15px;}.elementor-2551 .elementor-element.elementor-element-f5cbff7 > .elementor-widget-container{padding:1% 5% 2% 5%;}.elementor-2551 .elementor-element.elementor-element-f5cbff7 .elementor-heading-title{font-size:15px;}.elementor-2551 .elementor-element.elementor-element-f3b8b7e > .elementor-widget-container{padding:1% 5% 2% 5%;}.elementor-2551 .elementor-element.elementor-element-f3b8b7e .elementor-heading-title{font-size:15px;}.elementor-2551 .elementor-element.elementor-element-1d17b83 > .elementor-widget-container{padding:1% 5% 2% 5%;}.elementor-2551 .elementor-element.elementor-element-1d17b83 .elementor-heading-title{font-size:15px;}.elementor-2551 .elementor-element.elementor-element-1e8721e > .elementor-widget-container{padding:1% 5% 2% 5%;}.elementor-2551 .elementor-element.elementor-element-1e8721e .elementor-heading-title{font-size:15px;}.elementor-2551 .elementor-element.elementor-element-5d9350b > .elementor-widget-container{padding:1% 5% 1% 5%;}.elementor-2551 .elementor-element.elementor-element-5d9350b .elementor-heading-title{font-size:15px;}.elementor-2551 .elementor-element.elementor-element-ea991b5 > .elementor-widget-container{margin:10% 0% 0% 0%;}.elementor-2551 .elementor-element.elementor-element-ea991b5{--container-widget-width:80%;--container-widget-flex-grow:0;width:var( --container-widget-width, 80% );max-width:80%;}.elementor-2551 .elementor-element.elementor-element-ea991b5 .elementor-button{font-size:15px;}.elementor-2551 .elementor-element.elementor-element-a7b6242 > .elementor-widget-container{margin:10% 0% -5% 0%;padding:0% 0% 0% 0%;}.elementor-2551 .elementor-element.elementor-element-74294d4 > .elementor-container{min-height:100vh;}.elementor-2551 .elementor-element.elementor-element-74294d4{padding:0% 0% 0% 0%;z-index:6;}.elementor-bc-flex-widget .elementor-2551 .elementor-element.elementor-element-2233a17.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2551 .elementor-element.elementor-element-2233a17.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2551 .elementor-element.elementor-element-2233a17 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-2551 .elementor-element.elementor-element-7e20f85{z-index:6;}.elementor-2551 .elementor-element.elementor-element-eba4796{margin-top:1%;margin-bottom:0%;padding:0vw 0vw 0vw 0vw;}.elementor-2551 .elementor-element.elementor-element-9f231c0 > .elementor-widget-container{margin:0px 30px 0px 30px;}.elementor-2551 .elementor-element.elementor-element-9f231c0 .elementor-button{font-size:12px;letter-spacing:2.3px;border-width:3px 3px 3px 3px;border-radius:30px 30px 30px 30px;}.elementor-2551 .elementor-element.elementor-element-8fead5f > .elementor-widget-container{padding:5% 5% 5% 5%;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-toggle-item:not(:last-child){margin-block-end:15px;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-toggle-title{font-size:30px;line-height:1em;letter-spacing:-1.9px;}.elementor-2551 .elementor-element.elementor-element-8fead5f .elementor-tab-content{font-size:15px;letter-spacing:-0.2px;}.elementor-2551 .elementor-element.elementor-element-4440982{border-width:5px 5px 5px 5px;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-4440982, .elementor-2551 .elementor-element.elementor-element-4440982 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-bd68007{width:25%;}.elementor-2551 .elementor-element.elementor-element-bd68007 > .elementor-element-populated{border-width:5px 0px 0px 0px;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-70cb0a0 > .elementor-widget-container{margin:-60% 0% 0% 0%;padding:5px 0px 0px 16px;}.elementor-2551 .elementor-element.elementor-element-70cb0a0 img{width:95%;}.elementor-2551 .elementor-element.elementor-element-44564b8{width:25%;}.elementor-2551 .elementor-element.elementor-element-44564b8 > .elementor-element-populated{border-width:5px 0px 0px 0px;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-7fde7c3 > .elementor-widget-container{margin:-60% 0% 0% 0%;padding:5px 8px 0px 8px;}.elementor-2551 .elementor-element.elementor-element-7fde7c3 img{width:95%;}.elementor-2551 .elementor-element.elementor-element-c6a4474{width:25%;}.elementor-2551 .elementor-element.elementor-element-c6a4474 > .elementor-element-populated{border-width:5px 0px 0px 0px;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-b24bfed > .elementor-widget-container{margin:-60% 0% 0% 0%;padding:5px 8px 0px 8px;}.elementor-2551 .elementor-element.elementor-element-b24bfed img{width:95%;}.elementor-2551 .elementor-element.elementor-element-20ee63a{width:25%;}.elementor-2551 .elementor-element.elementor-element-20ee63a > .elementor-element-populated{border-width:5px 0px 0px 0px;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-332216a > .elementor-widget-container{margin:-60% 0% 0% 0%;padding:5px 16px 0px 0px;}.elementor-2551 .elementor-element.elementor-element-332216a img{width:95%;}}/* Start custom CSS for section, class: .elementor-element-41cd4c2 */.pixelMovil{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99999999;
    opacity: 0.3;
    pointer-events: none;
    height: 100vh
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0afec3a */.sucio{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99999999;
    opacity: 0.5;
    pointer-events: none;
    mix-blend-mode: soft-light;
    height: 100vh;
    background-size: cover
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f982eec */#current-time{
    text-transform: uppercase
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-9c3065b */.elementor-2551 .elementor-element.elementor-element-9c3065b{
    position: fixed;
    top:0;
    left:0;
    z-index: 1
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-728c9c8 */.elementor-2551 .elementor-element.elementor-element-728c9c8:after{
    content:"Proyectos";
    font-family: "Arial";
    font-size: 0.8em;
    text-align: center;
    letter-spacing: -0.3px;
    line-height: 1.5em;
    font-weight: 600;
    position: relative;
    width:100%;
    color: black;
}
.elementor-2551 .elementor-element.elementor-element-728c9c8{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10%
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6e693fe */.elementor-2551 .elementor-element.elementor-element-6e693fe:after{
    content:"Diseños";
    font-family: "Arial";
    font-size: 0.8em;
    text-align: center;
    letter-spacing: -0.3px;
    line-height: 1.5em;
    font-weight: 600;
    position: relative;
    width:100%;
    color: black;
}
.elementor-2551 .elementor-element.elementor-element-6e693fe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10%
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f5cbff7 */.elementor-2551 .elementor-element.elementor-element-f5cbff7 span:first-child{
    text-align: right;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    width: 30%
    
    
}

.elementor-2551 .elementor-element.elementor-element-f5cbff7 span:nth-child(2){
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    width: 70%
    
    
}

.elementor-2551 .elementor-element.elementor-element-f5cbff7 p{
display: flex;
justify-content: space-around
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f3b8b7e */.elementor-2551 .elementor-element.elementor-element-f3b8b7e span:first-child{
    text-align: right;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    width: 30%
    
    
}

.elementor-2551 .elementor-element.elementor-element-f3b8b7e span:nth-child(2){
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    width: 70%
    
    
}

.elementor-2551 .elementor-element.elementor-element-f3b8b7e p{
display: flex;
justify-content: space-around
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-1d17b83 */.elementor-2551 .elementor-element.elementor-element-1d17b83 span:first-child{
    text-align: right;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    width: 30%
    
    
}

.elementor-2551 .elementor-element.elementor-element-1d17b83 span:nth-child(2){
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    width: 70%
    
    
}

.elementor-2551 .elementor-element.elementor-element-1d17b83 p{
display: flex;
justify-content: space-around
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-1e8721e */.elementor-2551 .elementor-element.elementor-element-1e8721e span:first-child{
    text-align: right;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    width: 30%
    
    
}

.elementor-2551 .elementor-element.elementor-element-1e8721e span:nth-child(2){
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    width: 70%
    
    
}

.elementor-2551 .elementor-element.elementor-element-1e8721e p{
display: flex;
justify-content: space-around
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5d9350b */.elementor-2551 .elementor-element.elementor-element-5d9350b span:first-child{
    text-align: right;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    width: 30%;
    align-items: center
    
    
}

.elementor-2551 .elementor-element.elementor-element-5d9350b span:nth-child(2){
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    width: 70%
    
    
}

.elementor-2551 .elementor-element.elementor-element-5d9350b span:nth-child(2) img{
    width: 20px;
    height: auto;
    filter: saturate(0) contrast(1.1);
    margin: 1%;
    border-radius: 5px
}

.elementor-2551 .elementor-element.elementor-element-5d9350b p{
display: flex;
justify-content: space-around
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a7aa020 */.elementor-2551 .elementor-element.elementor-element-a7aa020{overflow: hidden}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3efb362 */.ventanaAbout{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 999;
    display:none ;
    height: 100vh
}/* End custom CSS */
/* Start custom CSS for toggle, class: .elementor-element-8fead5f */.icon img{
    width: 50px;
    margin-top: 10%
}

.logo{
    width: 100px
}

.tech{
    font-family: lato;
    font-size: 0.4em;
    letter-spacing: -0.2px;
    border: 2px solid black;
    padding: 1% 3%;
    border-radius: 20px;
}


.cajaIcons{
    display: flex;
}

.cajaIcons img{
    width: 45px;
}
.cajaIcons a{
    padding: 9% 2% 0 0;
}


/*.cajaIcons a:first-child:after{*/
/*    content:"WEB";*/
/*    font-family: "Lato";*/
/*    font-size: 0.75em;*/
/*    text-align: center;*/
/*    letter-spacing: -0.4px;*/
/*    line-height: 2em;*/
/*    font-weight: 600;*/
/*    position: relative;*/
/*    width:100%;*/
/*    color:black;*/
/*}*/

/*.cajaIcons a:nth-child(2):after{*/
/*    content:"DISEÑO";*/
/*    font-family: "Lato";*/
/*    font-size: 0.75em;*/
/*    text-align: center;*/
/*    letter-spacing: -0.4px;*/
/*    line-height: 2em;*/
/*    font-weight: 600;*/
/*    position: relative;*/
/*    width:100%;*/
/*    color:black;*/
/*}*/

/*.cajaIcons a{*/
/*    display: flex;*/
/*    flex-direction: column;*/
  
/*}*//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-eba4796 */.elementor-2551 .elementor-element.elementor-element-eba4796{
    height: 75vh;
    overflow-y: scroll!important
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-74294d4 */.ventanaDisenos{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 999;
    display:none ;
    height: 100vh
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4440982 */.elementor-2551 .elementor-element.elementor-element-4440982{
    position: fixed;
    bottom:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 50px;
    border:5px solid black!important;
}

.elementor-2551 .elementor-element.elementor-element-4440982:before{
    content:"";
    height: 200px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    width: 100vw;
    position: absolute;
    top:-15vh;
    z-index: 0
}/* End custom CSS */
/* Start custom CSS */.ventanaProyecto2{
        position: fixed;
        width: 90vw;
        height: 85vh;
        background-color: white;
        z-index: 99999!important;
        border: 4px solid black;
        box-shadow: 5px 5px 0px black;
        top:5vh;
        left: 5vw;
        border-radius: 10px;
        overflow:hidden!important;


        
    }
    
    .ventanaProyecto2::-webkit-scrollbar {
    width: 0px;
}

.ventanaProyectos{
        position: fixed;
        width: 90vw;
        height: 85vh;
        background-color: white;
        z-index: 99999!important;
        border: 4px solid black;
        box-shadow: 5px 5px 0px black;
        top:5vh;
        left: 5vw;
        border-radius: 10px;
        overflow:hidden!important;

        
    }
    
    .ventanaProyectos::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}


    .cabecera{
    height: 7vh;
    width: 100%;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: space between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
        
    }
    
    .circulo {
    width: calc(40px - 5px);
    height: calc(40px - 5px);
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    font-size: 1.2em;
    color: black;
    padding-top: 0px;
    padding-left: 0px;
    margin: 5px 5px;
    box-shadow: 1px 1px 0px black;
    transition: all 0.2s;
}
    .circulo:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px black;
        width: calc(57px - 5px);
    height: calc(57px - 5px);
    font-size: 2em;
    /*transform: rotate(360deg)*/
        
    }
    .circulo:first-child{
        margin-left: 10px
    }
    .barras2 span{
    height: 2px!important;
    width: 90%!important;
    background-color: black;
    margin-top: 3px
}

.barras2{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 3%;
    justify-content: center;
}/* End custom CSS */